@model LoginDemo.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoginDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginDemo.styles.css" asp-append-version="true" />
</head>
<body> 
<div class="form-box">
    <h2>Register</h2>

    <form asp-action="Register" method="post">
        <label>Username</label>
        <input asp-for="Username" />

        <label>Password</label>
        <input asp-for="Password" type="password" />

        <button type="submit">Register</button>
    </form>

    <div class="success">@ViewBag.Success</div>
    <div class="error">@ViewBag.Error</div>

   @*  @if (ViewBag.ShowLoginButton != null)
    { *@
        <a asp-action="Login">Go to Login</a>
    @* } *@
</div>
</body>

</html>
