html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* Card style */
.form-box {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
}

h2 {
    text-align: center;
}

/* Input */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius:23px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 23px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

/* Messages */
.success {
    color: green;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

/* Link */
a {
    display: block;
    text-align: center;
    margin-top: 15px;
}
